@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap|Open+Sans:wght@300');

/*-----------------------------------Heading*/

.navbar-brand{
    font-family: 'Sacramento', cursive;
    font-size: 2rem; }

.navbar{
    padding: 1.5rem 1.5rem;
}


 .nav-item{
     font-family: 'Open Sans', sans-serif;
     font-weight:300;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size:14px;
     
 }
 .dropdown-item{
     font-family: 'Open Sans', sans-serif;
     font-weight:300;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size:14px;
     
 }
/*-----------------------------------Buttons*/
 .btn--cta{
     font-family: 'Open Sans', sans-serif;     
     font-weight: bold;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size:14px;
     border: 1px solid;
     border-radius: 23px;
     padding:0.5rem 1rem;
     

 }

 



 /*-------------------------------------Footer*/

 footer{
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

 .inline-block{
     display: inline-block;
     position: relative;
 }

 
#footer-details {
    padding:30px;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

div .classes{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#fafafa;
}


/*-------------------------------------Newsletter*/

 .relative{
     position:relative;
     display: inline-flex;
 }

 button[name="submit"] {
  position: absolute;
  top: 0;
  right: 0;
}


/*-------------------------------------Media Queries*/
 @media(min-width:576px){
.navbar-brand{
    font-size: 2.5rem;
    margin-right:2rem;
}
    

.navbar{
    padding-left: 4rem;
    padding-right:3rem;
    padding-top:3rem;
}

 }
