@import url('https://fonts.googleapis.com/css2?family=Sacramento');

/*-----------------------------------Heading*/

.navbar-brand{
    font-family: 'Sacramento', cursive;
    font-size: 2rem; }



@media(min-width: 992px) {
.navbar-brand{
    font-size: 2.5rem;
    margin-right:4rem;
}
    

.navbar{
    padding-left: 3rem;
    padding-right:3rem;
    padding-top:3rem;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 3rem;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 2rem;
}

}