@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap|Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');


/*-------------------------------------Special paddings/margins/text*/

h1{
    font-size: 1.30rem;
    color:#525252;
    letter-spacing: 1px;

}

 h5{
    padding-top:2rem;
}

h4{
    padding-top: 1rem;
}

h3{
    padding-top:2rem;
    padding-bottom:0.5rem;
    font-size: 1.25rem;

}

 .feature p{
   line-height: 2rem;
   max-width:20rem;

}

.online p{
    line-height: 2rem;
}
    
.explore h1{
    font-size:2rem;
}
    



body{
    font-family: 'Lato', sans-serif;
    
}

.grey{
    color:#525252;
    letter-spacing: 2px;
}

.light{
    color: #a4a2a2;
}

.contact h1{
    color:#525252;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-top:1rem;
}


.padded .top h4{
         padding-top:2.5rem;
         padding-bottom: 1rem;
     }

.padded h4{
    padding-bottom: 1rem;
}

.table td, .table th {
    padding: 0.5rem;
    
    }



 .text-table{
     color:#525252;
    letter-spacing: 1px;
    font-size:1rem;

    
 }

 /*---Timetable color---*/

 .orange{
     background-color:orange;
 }

 .violet{
     background-color: violet;
 }

.yellow{
    background-color: yellow;
}

.pink{
    background-color: pink;
}
 
 .blu{
     background-color: rgb(153, 153, 255);
 }

.green{
    background-color: rgb(153, 255, 102);
}

.bluette{
    background-color: rgb(51, 153, 255);

}

.red{
    background-color: rgb(255, 102, 102);
}

.aqua{
    background-color: rgb(153, 255, 204);
}

.pale{
    background-color: rgb(230,190,138);
}

 .space{
     padding-top:1rem;
     padding-bottom: 1rem;
 }


/*-----------------------------------Navbar*/

.navbar-brand{
    font-family: 'Megrim', cursive;
    font-size: 1.5rem;
    
    
     }

.navbar{
    padding: 1.5rem 1.5rem;
    
    

}


 .nav-item{
     font-family: 'Lato', sans-serif;
     font-weight:300;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size:14px;
     
     
 }
 .dropdown-item{
     font-family: 'Lato', sans-serif;
     font-weight:300;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size:14px;
     
     
 }

 /* ---------------------------------Block dividers */
 .block-divider {
    width: 80px;
    height: 5px;
    border: 0;

}

.block-divider--orange {
    background-color: #f05f40;
}

/*-----------------------------------Buttons*/
 .btn-outline-secondary{
     font-family: 'Lato', sans-serif;     
     font-weight: bold;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size:14px;
     border:1px solid;
     border-radius: 23px;
     padding:0.5rem 1rem;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
 }

 

.btn .fa-paper-plane{
    color: #fafafa;
    font-size: 25px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}

.btn .fa-paper-plane:hover{
    color:rgb(169,169,169);
}
 
 .btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}


/*-------------------------------------Containers*/

.container-wrapper{
    margin-left:3.5rem;
    margin-right:3.5rem;
}

.callout-container {
    height: 120vh;
    background: url('../images/image-sam.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.content-container{
    padding-top:75px;
    
}

.options-container{
    height:160vh;
    background: url('../images/image-opt.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.online-container{
    padding:55px;
    
}

.explore-container {
    height: 80vh;
    background: url('../images/image-exp.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contact-container{
    height: 30vh;
    background: url('../images/image-man.jpg')no-repeat center center fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.form-container{
    padding:2rem;
}


/*-------------------------------------Jumbotron*/
.jumbotron{
    background-color: rgba(255,255,255,0.5);
    padding: 0.5rem 0.5rem;
}

.jumbotron h4{
    margin-bottom: 2rem;
    font-size:1.5rem;
    color:#525252;
}
.jumbotron h2{
    margin-bottom: 2.5rem;
    color:#525252;
    font-weight: bold;
}



/*-------------------------------------Features*/
.features{
    margin-bottom:40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
    display:inline-block;
    
}

/*-------------------------------------Options*/
.options-container p{
    color:#525252;
    font-size:20px;
}



/*-------------------------------------Timetable*/
.table-responsive{
    overflow-y: hidden;
    padding:1rem;
    margin:0 auto;
}
    
 /*-------------------------------------Footer*/

 footer{
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin:0;
    font-family: 'Lato', sans-serif;
}

 .inline-block{
     display: inline-block;
     position: relative;
 }

 
#footer-details {
    padding:40px;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: 'Lato', sans-serif; 
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}


  .classes{
    line-height: 2rem;
    letter-spacing: 1px;
    color:#fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.classes:hover{
    color: rgb(169,169,169);
}

/*-------------------------------------Icons*/

.social-links li a i {
    width:32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size:30px;
    line-height: 7px;
    color:#fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    color:rgb(169,169,169);
}



.contact-icons{
    color: #fafafa;
    font-size:20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.contact-icons:hover{
    color:rgb(169,169,169);
}

.info-icons{
    color: #f05f40;
    font-size: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.info-icons:hover{
    color:#df4929;
}




/*-------------------------------------Newsletter*/

 .relative{
     position:relative;
     display: inline-flex;
 }

 button[name="submit"] {
  position: absolute;
  top: 0;
  right: 0;
}


 /*-----------------------------------Hover.css*/
 .hvr-icon-grow{
      width:80px;
    height: 80px;
    padding: 16px 13px;
    border-radius: 50%;
    background-color: #f05f40;
     color:#fff;
     display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
 }

.hvr-icon-grow:hover,
.hvr-icon-grow:focus,
.hvr-icon-grow:active {
    transform: scale(1.1);
    color:#fff;
}


/*-------------------------------------Media Queries*/
 @media(min-width:576px){
.navbar-brand{
    font-size: 2.5rem;
    margin-right:2rem;
}
    

.navbar{
    padding-left: 4rem;
    padding-right:3rem;
    padding-top:3rem;
    
}


.options-container p{
    font-size:25px;
    
}

.explore h1{
    font-size:3rem;
}

.online-container{
    padding:65px;
    
}

 }

@media(min-width:768px){
    .jumbotron h2{
      font-size: 3.2rem;
    }
    .jumbotron h4{
        font-size:1.8rem;
    }

    
    


}

@media (min-height: 768px){
  .options-container{
      height: 100vh;
  }  
  .explore-container{
      height: 100vh;
  }
  .callout-container{
      height: 100vh;
  }
  
}


@media (min-height: 576px){
  .options-container{
      height: 100vh;
  }  
  .callout-container{
      height: 100vh;
  }
  
}


@media (min-height: 992px){
    .options-container{
        height: 60vh;
    }
    .explore-container{
      height: 60vh;
  }
    .callout-container{
      height: 100vh;
  }

   
  
}

@media (min-height: 1200px){
    .options-container{
        height: 60vh;
    }
    .explore-container{
      height: 60vh;
  }
    .callout-container{
      height: 100vh;
  }
    
    
  
  }
   
   
  
  


@media(min-width:576px){
    .contact h1{
    color:#525252;
    letter-spacing: 2px;
    font-size: 3rem;
  }
  
}

 @media(max-width:767px){
     .padded h1{
         padding-top:2.5rem;
     }
 }












